
@{
    
    ViewBag.Title = "Index";
    ViewBag.isFormBuilder = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormAPIPath = "/API/FormBuilder/";
}

<h2>Index</h2>
<div>
    <form action="@Url.Action("Create")" method="GET">
        <button type="submit" class="">Create</button>
    </form>    
</div>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td># Fields</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (Beefry.FormBuilder.Template template in Model)
        {
            <tr>
                <td>@template.ID</td>
                <td>@template.Name</td>
                <td>@template.Description</td>
                <td>@template.Sections.Sum(section => section.Fields.Count)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = template.ID })</td>
            </tr>
        }
    }
    </tbody>
</table>




