<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <title>Cosmo</title>
</head>
<body>
    <div id='navmenu'>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Templates", "Index", "FormBuilder")</li>
            <li>@Html.ActionLink("Forms", "Index", "Form")</li>
            <li>@Html.ActionLink("Maintenance","Index","Maintenance")</li>
        </ul>
        <div class="second_controls">
            @Html.Partial("_LoginPartial")
            @Html.ActionLink("+ New Ticket", "Create", "Maintenance", null, new { @class = "new_tic cd-btn" });
        </div>
    </div>
    <main ng-app="beefry.fb">
        @RenderBody()
    </main>

    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <!-- <script src="content-filter/js/jquery.mixitup.min.js"></script> -->
    <script src="content-filter/js/main.js"></script> <!-- Resource jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/formbuilder")
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
